@import "var.scss";

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  min-width: 250px;
  .header {
    min-height: 100px;
    background-color: #a9a9a9;
    .header_title {
      @include title;
    }
  }

  @media screen and (max-width: 768px) {
    .header_title {
      font-size: 1.5em;
    }
  }

  .main {
    min-height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .main_title {
      @include title;
    }
    .main_wrapper {
      background-color: rgb(255, 228, 181);
      text-align: center;
      .main_basic {
        display: flex;
        justify-content: space-around;
        .main_item {
          background-color: rgb(255, 209, 185);
          width: 40%;
        }
      }
    }
  }

  .main_text {
    font-size: 1.5em;
    font-family: $font;
  }

  .main_item-bottom {
    display: inline-block;
    background-color: rgb(255, 209, 185);
    width: 90%;
    margin-top: 20px;
  }

  .main_side {
    background-color: rgb(144, 238, 144);
  }

  @media screen and (max-width: 768px) {
    .main {
      grid-template-columns: auto;
    }
    .main_wrapper {
      min-height: 15vh;
    }
    .main_side {
      min-height: 15vh;
    }
    .main_text {
      font-size: 1em;
    }
  }

  .footer {
    min-height: 100px;
    .footer_wrapper {
      display: flex;
      justify-content: space-around;
      background-color: #a9a9a9;
      .footer_item {
        background-color: $footer-color;
        margin: 10px;
        .footer_text {
          font-size: 1.5em;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footer_text {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 412px) {
    .footer_wrapper {
      flex-wrap: wrap;
      .footer_item {
        width: 70%;
        text-align: center;
      }
    }
  }
}
